._1frageml6 {
    clip: rect(0,0,0,0);
    border-width: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
.ezrb1p3 {
    --option-list-inner-border-color: var(--x-default-color-border);
    --option-list-background-color: var(--x-default-color-background);
    --option-list-details-background-color: var(--x-default-color-background-subdued-alpha);
}

[dir=ltr] .B4zH6:last-child, [dir=rtl] .B4zH6:last-child {
    border-bottom-right-radius: calc(var(--option-list-border-radius) - 1px);
}
[dir=ltr] .B4zH6:last-child {
    border-bottom-left-radius: calc(var(--option-list-border-radius) - 1px);
}
[dir=ltr] .B4zH6:first-child, [dir=rtl] .B4zH6:first-child {
    border-top-right-radius: calc(var(--option-list-border-radius) - 1px);
}
[dir=ltr] .B4zH6:first-child {
    border-top-left-radius: calc(var(--option-list-border-radius) - 1px);
}
.B4zH6.Zb82w:last-child:has(.b7U_P)>.yL8c2{
    margin: 0;
}
._6hzjvoe:checked {
    background-color: var(--_6hzjvo1);
    border: 0.42857142857142855em var(--_6hzjvo0) solid;
}
._6hzjvof, ._6hzjvof:after, ._6hzjvof:before {
    --_6hzjvo2: calc((var(--x-typography-size-default)*18)/14);
    height: var(--_6hzjvo2);
    margin-block-start: 0.14285714285714285em;
    margin-top: 0.14285714285714285em;
    width: var(--_6hzjvo2);
}
._6hzjvob {
    --_6hzjvo0: var(--x-default-color-accent);
    --_6hzjvo1: var(--x-default-color-accent-on-text);
}
._6hzjvo5 {
    background-clip: padding-box;
    border: var(--x-control-border-width) var(--x-default-color-border) solid;
    border-radius: 50%;
}
._1fragemm0, ._1fragemm1:hover, ._1fragemm2:focus, ._1fragemm3:hover:focus {
    background-color: var(--x-default-color-background);
    color: var(--x-default-color-text);
}
._1fragemlp {
    transition-timing-function: var(--x-timing-ease-out);
}
._1fragemlj {
    transition-property: all;
}
._1fragemld {
    transition-duration: var(--x-duration-fast);
}
._1fragemf4 {
    display: block;
}

._6hzjvo5:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0 var(--_6hzjvo0);
    content: "";
    display: block;
    left: 0;
    opacity: .3;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: box-shadow var(--x-duration-fast) var(--x-timing-ease-out);
}
._6hzjvof, ._6hzjvof:after, ._6hzjvof:before {
    --_6hzjvo2: calc((var(--x-typography-size-default)*18)/14);
    height: var(--_6hzjvo2);
    margin-block-start: 0.14285714285714285em;
    margin-top: 0.14285714285714285em;
    width: var(--_6hzjvo2);
}

._94sxtb1 {
    will-change: height;
}
._1fragemlp {
    transition-timing-function: var(--x-timing-ease-out);
}
._1fragemll {
    transition-property: height;
}
._1fragemlf {
    transition-duration: var(--x-duration-slow);
}

._1ip0g651 {
    grid-template-columns: minmax(0,1fr);
}
._1fragemga {
    column-gap: var(--x-spacing-base);
}
._1fragemft {
    row-gap: var(--x-spacing-base);
}
._1fragemfa {
    display: grid;
}
._1frageme0 {
    position: relative;
}
._1ip0g651 {
    grid-template-columns: minmax(0,1fr);
}
._1fragemga {
    column-gap: var(--x-spacing-base);
}
._1fragemft {
    row-gap: var(--x-spacing-base);
}
._1fragemfa {
    display: grid;
}
._1frageme0 {
    position: relative;
}
.apbd6 {
    --padding-block: var(--x-text-field-block-padding,var(--x-spacing-small-100) );
    --padding-inline: var(--x-text-field-inline-padding,var(--x-spacing-small-100) );
    --field-font-size: var(--x-text-field-font-size,var(--x-typography-size-default) );
    --field-line-height: var(--x-global-typography-line-size-default);
    display: grid;
    gap: var(--x-spacing-small-400);
}
@supports (width:max(1px,2px))
{._10vrn9p1 {
    --field-min-height: max(calc(var(--label-font-size) + var(--value-height)),calc(var(--label-font-size) + var(--field-font-size) + var(--padding-block)*2));
}}
._10vrn9p3, ._10vrn9p4 {
    --placeholder-color: var(--x-default-color-text-subdued);
}


.B46er {
    background-color: var(--x-default-color-background);
    color: var(--x-default-color-text);
}
#card{
    display: none;
}

._6hzjvoe:checked{
    appearance: none;
    border: 2px solid #fff;
    background: #000000;
    width: 13px;
    outline: 2px solid #000000;
    height: 13px;
    margin-top: 4px;
}

#card_wrapper input{
    width: 100%;
}

.oT32G {
    border: 0 solid #0000;
    border-radius: var(--x-control-border-radius,var(--x-global-border-radius,var(--x-border-radius-base)) );
    position: relative;
    text-transform: var(--x-global-typography-letter-case);
    transition: box-shadow var(--x-duration-base) var(--x-timing-base),border var(--x-duration-base) var(--x-timing-base);
}
[dir=ltr] .P7KAT {
    right: var(--x-spacing-base);
}

.P7KAT {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);

}
.a8x1wum {
    stroke: currentColor;
}

.a8x1wui, .a8x1wuj {
    height: var(--a8x1wu0);
    min-height: var(--a8x1wu0);
    min-width: var(--a8x1wu0);
    width: var(--a8x1wu0);
}
.a8x1wui {
    --a8x1wu0: calc(var(--x-typography-size-default)*1.28571);
}
.a8x1wu3 {
    color: var(--x-default-color-icon);
}
._1fragemh3 {
    width: 100%;
    inline-size: 100%;
}
._1fragemf4 {
    display: block;
}

.a8x1wuo {
    fill: none;
}
._1fragemh3 {
    width: 100%;
    inline-size: 100%;
}
._1fragemf4 {
    display: block;
}
._1fragemd8 {
    max-width: 100%;
    max-inline-size: 100%;
}
._1fragemd4 {
    max-height: 100%;
    max-block-size: 100%;
}
*, :after, :before {
    box-sizing: border-box;
}


.n8k95w1._1frageme0.n8k95w3{
    margin-top: 15px;
}
.xIN8V.F8weU{
    width: 100%;
        }
